body {
  color: #0E2156;
  text-align: center;
  background-color: #F2F5FC;
}
h4{
	font-family: sitka heading;
	font-size: 30px;
}
h1{
	font-family: Dancing Script;
	font-size: 60px;
}
p{
	font-family: sitka heading;
	font-size: 22px;
}
.header{
	padding: 60px;
  text-align: center;
  background: white;
  color: #0E2156;
  font-size: 30px;
}
.aside {
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  
}
.asidedva {
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
 
}
.vertical { 
  border-left: 5px solid #0E2156; 
  height: 1750px; 
  position:absolute; 
  left: 50%;
 }
