.navbar{
	padding: 0px 10px;
	height: 115px;
}

.navbar-brand{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-item,
.rezervacija-nav-dugme
{
	font-weight: 800;
	text-transform: uppercase;
}

.kontakt-nav-dugme
{
	text-transform: uppercase;
	font-weight: 800;
	color: #0E2156;
}

.brand-logo{
	position: relative;
	height: 240px;
	width: 240px;
}

.kontakt-nav-dugme:hover,
{
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.toggler-label{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 500;
	margin-right: 10px;
}


.navbar-light .navbar-nav .nav-item.active .nav-link,
.rezervacija-nav-dugme
{

	background: #0E2156;
	color: #fff; 
	padding: 12px 10px;
	margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link{
	padding: 12px 10px;
}

@media (max-width: 1920px)
{
	.navbar-collapse
	{
		background: #F2F5FC;
		position: absolute;
		top: 110px;
		left: 0;
		width: 100%;
		height: 1080px;
		z-index: 99;
	}
	.navbar-light .navbar-nav .nav-link
	{
		margin: 15px 0;
		padding: 0;
		text-align: center;
	}
	.navbar-light .navbar-nav .nav-item.active .nav-link
	{
		margin-right: 0;

	}

}

@media (max-width: 991px){
	.rezervacija-nav-dugme{
		display: none;
	}
}

.bg-light, .navbar-light{
	background-color: #fff !important;
}