body {
	background-color: #F2F5FC;
}

.kontakt-strana {
	display: grid;
	grid-template: "kontakt poruka informacije"
				   "mapa mapa mapa";
	justify-content: space-between;
    align-content: space-between;
}

#kontakt-forma {
	grid-area: kontakt;
}

#kontakt-text {
	color: black; 
	font-size: 25px;
}

#prvi-deo {
	padding-left: 200px;
}

#prvi-deo h2 {
	font-family: Dancing Script;
	font-size: 50px;
	color: #0E2156;
}

#drugi-deo {
	grid-area: poruka;
	margin-top: 140px;
	margin-right: 200px;
}

#okvir {
	border: 2px solid blue;
}

#poruka {
	width: 190px;
	height: 100px;
}

#informacije {
	grid-area: informacije;
	margin-right: 200px;
}

#informacije h2 {
	font-family: Dancing Script;
	font-size: 50px;
	color: #0E2156; 
}

#mejl {
	font-family: Sitka heading;
	text-decoration: none;
	text-align: center;
	color: black;
}

#mejl a:hover {
	color: #0E2156;
	text-decoration: underline;
}

#adresa {
	text-align: center;
	font-size: 15px;
}

#telefon {
	text-align: center;
}

#info-text {
	color: black;
	text-align: center;
	font-size: 20px;
}

#crtica {
	border: 1px solid #0E2156;;
}

#mapa {
	grid-area: mapa;
	padding-left: 200px;
}
