ul li{
	display: inline-block;
	padding: 45px;
}
li{
	margin-left: 35px;
	text-align: left;
}
p{
	font-size: 26px;
}
h1{
	font-family: Dancing Script;
	color: #0E2156;
	font-size: 50px;
}
body{
	background-color: #F2F5FC;
}
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0E2156;
  border-style: double;
  border-color: white;
}