@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

.backcolor{
  background-color: F2F5FC;
}

html{
  scroll-behavior: smooth;
}

:root{
  --primary-white: #0E2156;
  --primary-dark: rgba(22, 7, 7, 0);
  --primary-orange: #f9ab00; 
}

body{
  font-family: "Roboto Condensed" white;
}

/* Navbar */
nav{
  z-index: 2;
}
.logo{
  width: 16.25rem;
  height: 8rem;
}

.bg-warring{
  background-color: #F2F5FC !important;
}

/* Menu links */
nav a.nav-link{
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.19rem solid var(--primary-dark);
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.19rem solid var(--primary-white);
}
.navbar-nav > li > a:hover{
  border-top: 0.19rem solid var(--primary-white);
}

/* Header */
.header-wraper{
  position: relative;
  background: url(5651978.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
}
.main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
  margin-top: 20px;
}

/* Typed text */
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}
.btn-main-offer{
  border: 1px;
  color: var(--primary-orange);
  text-transform: uppercase;
  border: 2px solid orange;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-orange);
  margin: 2rem;
}
.btn-main-offer:hover{
  color: var(--primary-orange);
}

/* Particles */
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

/* Main */
.header-wrapper{
  position: relative;
  background: #F2F5FC no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}
.main{
  color: var(--primary-white);
  
}
.main h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}
.main p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
}

/* Services */
.services-wraper{
  position: relative;
  background: url(5651978.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.mtop{
  margin-top: 250px;
}
.centar2{
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* My Experience */
.exp-wraper{
  position: relative;
  background: #F2F5FC no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

/* Contact */

.c-wraper{
  height: 65vh;
}
.h1-wraper{
  color: var(--primary-white);
  text-transform: uppercase;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}